<form>
    <div class="container">
      <h1>Login</h1>
      <hr>
    
      <label for="email"><b>Email</b></label>
      <input type="text" [(ngModel)] ="loginUser.email" placeholder="Enter Email" name="email" id="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)] ="loginUser.password" placeholder="Enter Password" name="psw" id="psw" required>
  
      <button type="submit" class="registerbtn" (click)="login()">Register</button>
    </div>

  </form>